## Data Analysis of Tianya BBS

In [1]:
from app_db import DB_ENGINE
from settings import DATA_ROOT
import pandas as pd
import jieba

2018-12-18 23:25:43,076 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

[2018-12-18 23:25:43] INFO    | sqlalchemy.engine.base.Engine: SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2018-12-18 23:25:43,078 INFO sqlalchemy.engine.base.Engine ()

[2018-12-18 23:25:43] INFO    | sqlalchemy.engine.base.Engine: ()

2018-12-18 23:25:43,083 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

[2018-12-18 23:25:43] INFO    | sqlalchemy.engine.base.Engine: SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2018-12-18 23:25:43,086 INFO sqlalchemy.engine.base.Engine ()

[2018-12-18 23:25:43] INFO    | sqlalchemy.engine.base.Engine: ()

2018-12-18 23:25:43,089 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("posts")

[2018-12-18 23:25:43] INFO    | sqlalchemy.engine.base.Engine: PRAGMA table_info("posts")

2018-12-18 23:25:43,091 INFO sqlalchemy.engine.base.Engine ()

[2018-12-18 23:25:43] INFO    | sqlalchemy.engine.base.Engine: ()

2018-12-18 23:25:43,111 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("replys")

[2018-12-18 23:25:43] INFO    | sqlalchemy.engine.base.Engine: PRAGMA table_info("replys")

2018-12-18 23:25:43,114 INFO sqlalchemy.engine.base.Engine ()

[2018-12-18 23:25:43] INFO    | sqlalchemy.engine.base.Engine: ()

2018-12-18 23:25:43,121 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("upusers")

[2018-12-18 23:25:43] INFO    | sqlalchemy.engine.base.Engine: PRAGMA table_info("upusers")

2018-12-18 23:25:43,125 INFO sqlalchemy.engine.base.Engine ()

[2018-12-18 23:25:43] INFO    | sqlalchemy.engine.base.Engine: ()

2018-12-18 23:25:43,133 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("shangusers")

[2018-12-18 23:25:43] INFO    | sqlalchemy.engine.base.Engine: PRAGMA table_info("shangusers")

2018-12-18 23:25:43,136 INFO sqlalchemy.engine.base.Engine ()

[2018-12-18 23:25:43] INFO    | sqlalchemy.engine.base.Engine: ()

2018-12-18 23:25:43,140 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("rawcontents")

[2018-12-18 23:25:43] INFO    | sqlalchemy.engine.base.Engine: PRAGMA table_info("rawcontents")

2018-12-18 23:25:43,147 INFO sqlalchemy.engine.base.Engine ()

[2018-12-18 23:25:43] INFO    | sqlalchemy.engine.base.Engine: ()

In [2]:
titles = pd.read_sql('SELECT pid, title FROM posts', con=DB_ENGINE, index_col='pid')
titles.head()

2018-12-11 15:39:56,579 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("SELECT pid, title FROM posts")

[2018-12-11 15:39:56] INFO    | sqlalchemy.engine.base.Engine: PRAGMA table_info("SELECT pid, title FROM posts")

2018-12-11 15:39:56,583 INFO sqlalchemy.engine.base.Engine ()

[2018-12-11 15:39:56] INFO    | sqlalchemy.engine.base.Engine: ()

2018-12-11 15:39:56,587 INFO sqlalchemy.engine.base.Engine SELECT pid, title FROM posts

[2018-12-11 15:39:56] INFO    | sqlalchemy.engine.base.Engine: SELECT pid, title FROM posts

2018-12-11 15:39:56,589 INFO sqlalchemy.engine.base.Engine ()

[2018-12-11 15:39:56] INFO    | sqlalchemy.engine.base.Engine: ()

                              title
pid
1                        比特币下半年开始跌！
2                        区块链0投资项目分享
3                      币圈呼唤类似淘宝的交易所
4                      币圈的熊市，我们该干什么
5    2018比特币再降新跌至6000美元以下，三个重要因素导致！

In [3]:
indicatiors = '转 转发 转载 转帖 转自 转载自'.split(' ')
def isForward(text):
    for word in jieba.cut(text):
        if word in indicatiors:
            return True
    return False

In [4]:
df = titles.merge(titles.applymap(isForward), on='pid')
df.head()

Building prefix dict from the default dictionary ...
Loading model from cache /tmp/jieba.cache
Loading model cost 0.844 seconds.
Prefix dict has been built succesfully.

                            title_x  title_y
pid
1                        比特币下半年开始跌！    False
2                        区块链0投资项目分享    False
3                      币圈呼唤类似淘宝的交易所    False
4                      币圈的熊市，我们该干什么    False
5    2018比特币再降新跌至6000美元以下，三个重要因素导致！    False

In [5]:
df = df.rename({
    'title_x': 'title',
    'title_y': 'isForward'
}, axis='columns')
df.head()

                              title  isForward
pid
1                        比特币下半年开始跌！      False
2                        区块链0投资项目分享      False
3                      币圈呼唤类似淘宝的交易所      False
4                      币圈的熊市，我们该干什么      False
5    2018比特币再降新跌至6000美元以下，三个重要因素导致！      False

In [8]:
df.to_excel(DATA_ROOT/'isForward.xlsx')